<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleTables" version="2.3.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="3.3.1" targetFramework="net472" developmentDependency="true" />
</packages>